alias ls='ls --color=auto'
alias ll='ls -lav --ignore=..'   # show long listing of all except ".."
alias l='ls -lav --ignore=.?*'   # show long listing but no hidden dotfiles except "."
alias topdf='libreoffice --convert-to pdf *.doc' #convert to pdf
alias mergepdf='pdfunite *.pdf out.pdf' #merge pdfs
alias dotscopy='cd ~/.config/; cp -r {sway,swaylock,waybar,wofi,fish} ~/Desktop/dots/; cd; cp -r {.bashrc,.aliases} ~/Desktop/dots'
alias nhnb='nohup netbeans &'
alias tsm='transmission-remote'
alias nhid='nohup idea &'
alias rs='nohup rstudio-bin &'
alias lvim='/home/kir7/.local/bin/lvim'
