* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  padding: 1px 5px;
  color: white;
  
}

window#waybar {
  font-size: 14px;
  color: white;
  font-weight: 600;
  background: transparent;
  border-radius: 40px;
  
}

window#waybar.hidden {
  opacity: 0.2;
}

#battery,
#clock, 
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#mpd,
#custom-launcher,
#temperature,
#custom-power {
  color: black;
  background-color: #24283b;
  border-radius: 20px;
  margin: 1 9px;
}

label:focus {
  background-color: #000;
}

#battery.charging, #battery.plugged {
  color: #00ffaa;
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical {
  color: #e06c75;
}

#tags button {
  background-color: #24283b;
  color: white;
  border-radius: 15px;
  margin: 0 3px;
}

#tags button.occupied {
  margin: 0 3px;
  background-color: #194aac;
}

#tags button.focused {
  color: #000;
  margin: 0 3px;
  background-color: white;
}

#tags button.urgent{
  color: red;
  margin: 0 3px;
  background-color:white;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 5px;
}
/*ANIMATIONS*/
@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/*BORDER RADIUS*/
#custom-launcher,
#cpu,
#disk,
#memory{
  border-radius: 3px 10px 3px 10px;
}

#clock, 
#network,
#pulseaudio,
#custom-power{
  border-radius: 10px 3px 10px 3px;
}

#custom-launcher{
  color: red;
  font-size: 11px;
}

#cpu {
  background: #12d7f1;
}

#memory {
  background: #ff5e78;
}

#disk {
  background: #12f194;
}

#network {
  background: #12f194;
}

#pulseaudio {
  background: #ff5e78;
}

#battery {
  background: #808000;
}

#clock {
  background: #12d7f1;
}

#custom-power {
  color: red;
  font-size: 17px;
}

#workspaces {
  border-radius: 10px;
  font-size: 15px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: animate 21s ease infinite;
}

#mpd {
  color: violet;
  background: transparent;
  font-size: 12px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #009acb;
}
