@import "/home/kir7/.config/waybar/scripts/base16/colors/base16-summerfruit-dark.css";

* {
  transition: none;
  box-shadow: none;
  font-family: JetBrainsMono;
}

#waybar {
  color: @base04;
  background: @base01;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 6px;
  color: @base05;
}

#workspaces button.visible {
}

#workspaces button.focused {
  border-radius: 4px;
  background-color: @base02;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 16px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base02;
  border-radius: 4px;
  min-width: 20px;

}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 6px;
  margin-right: 4px;
  background-color: transparent;
}

#mpd {
  font-size: 13px;
  border-top: 2px solid #707070;
  border-radius: 20px;
}

#custom-power{
  margin: 4px 2px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 4px;
  min-width: 20px;
}

#custom-recorder {
    font-size: 12px;
    color:red;
    margin: 4px 2px;
    padding: 0 6px;
}

#custom-launcher{
  margin: 4px 2px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 4px;
  min-width: 20px;
}

#temperature.critical {
  color: @base0F;
}
