@import "/home/kir7/.config/waybar/scripts/base16/colors/base16-pop.css";

* {
  transition: none;
  box-shadow: none;
  font-family: JetBrainsMono;
  font-size: 13px;
}

#waybar {
  color: @base04;
  background: @base01;
  opacity: 0.75;
  border-radius: 30px;
  border: 2px solid #54504D;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 6px;
  color: @base05;
}

#workspaces button.visible {
}

#workspaces button.focused {
  border-radius: 20px;
  background-color: @base02;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 2px;
  border-radius: 20px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base02;
  border-radius: 20px;
  min-width: 10px;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin: 4px 2px;
  background-color: transparent;
}
/*
#mpd {
  border-top: 2px solid #707070;
  border-radius: 10px;
}
*/
#custom-power{
  margin: 4px 5px 4px 1px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 20px;
  min-width: 15px;
}

#custom-recorder {
  color:red;
  margin: 4px 2px;
  padding: 0 6px;
  background-color: #722F37;
}

#custom-launcher{
  margin: 4px 1px 4px 5px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 20px;
  min-width: 15px;
}

#temperature.critical {
  color: @base0F;
}
